body{
    font-family: 'Oswald', sans-serif;
    margin: 0px;
}
h1{
    font-size: 50px;
}
.city{
    color: darkblue;
}
p{
    font-size: 30px;
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
    

}
.half-width{
    width:50%;
    padding-left: 5%;
}
.half-width img{
    width: 80%;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(yellow,orange);
    border-radius: 5px;
    padding: 20px 40px;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
    
}
.upper{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    
}
.lower{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
h3{
    font-size: 40px;
}
.expo{
    width:50%;
    box-shadow: 20px 10px 40px cadetblue ;
    margin-left: 5%;
    margin-right: 5%;
    padding-right: 5px;
    padding-left: 10px;
}
.exp{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#avengers{
    border-left:7px solid ;
    border-image: linear-gradient(blue ,cyan);
    border-image-slice: 1;
}
#galaxy{
    border-left:7px solid ;
    border-image: linear-gradient(red ,rgb(255, 230, 0));
    border-image-slice: 1;
}
footer p {
    text-align: left;
    color: darkslategrey;
}






