body{
    font-family: 'Oswald', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.city{
    color: darkblue;
}
p{
    font-size: 30px;
}
section{
    display: flex;

}
.half-width{
    width:50%;
    padding-left: 5%;
}
.half-width img{
    width: 80%;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(yellow,orange);
    border-radius: 5px;
    padding: 20px 40px;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
    
}
.upper{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    
}
.lower{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}








